# DATABASE_URL: PostgreSQL connection string
DATABASE_URL=postgresql://postgres:password@db.supabase.co:5432/postgres

# Supabase API Settings
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
